@model BooksCatalog.Models.Book
@Html.ValidationSummary()

<table class="form-table">
    <tr>
        <td>@Html.LabelFor(x => x.Title)</td>
        <td>@Html.EditorFor(x => x.Title)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Category)</td>
        <td>@Html.DropDownListFor(x => x.CategoryId, ViewBag.CategoriesSelectList as IEnumerable<SelectListItem>)</td>
    </tr>
</table>

<div>
    <h4>@Html.LabelFor(x => x.Image)</h4>
    @if (Model != null)
    {
        <img class="book-image" src="@Url.Action("show", "images", new {id = Model.Id})"/>
    }
    else
    {
        <img class="book-image" src="@Url.Action("show", "images")" />
    }
</div>
Загрузить:
<input type="file" name="HttpPostedImage"/>
<br/>

